body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.name {
    text-align: center;
    font-size: larger;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px;
}

.grid-item {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
    padding: 10px;


    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 5px;
    background-color: #f9f9f9;
    max-width: 750px;
}

.grid-item img {
    width: 100%; /* Makes the image fill the grid cell */
    height: auto; /* Maintains aspect ratio */
    max-width: 300px;
    border-radius: 8px; /* Optional: adds rounded corners */
    object-fit: cover; /* Ensures the image covers the cell without distortion */
}
