body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    background-color: #bfbfbf;
}

p {
    text-align: center;
}

input {
    width: 300px;
    height: 25px;
}

footer {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
    transition: box-shadow 0.3s ease; 
    text-align: center; 
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.textbox {
    display: flex;
    justify-content: center;
}

.loginbutton {
    width: 20%;
}

.banner {
    background-color: #9cf0ff;
    padding: 10%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

.name {
    text-align: center;
    font-size: larger;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px;
}

.grid-item {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
    padding: 10px;


    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 5px;
    background-color: #f9f9f9;
    max-width: 750px;
}

.grid-item img {
    width: 100%;
    height: auto; 
    max-width: 300px;
    border-radius: 8px; 
    object-fit: cover;
}